/* Surfplatta */
@media (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 20px 30px;
    }
    .logo {
        width: 120px;
    }

    /* Zodiac - 2 kort på varje rad */
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .information,
    .daily-horoscope {
        padding: 30px;
    }

    /* Kontaktsida */
    .contact-container {
        display: block;
        padding: 30px;
    }
    .contact-info,
    .contact-form-container {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 600px) {

    header {
        padding: 15px 20px;
    }
    nav {
        display: block;
        text-align: center;
    }
    .logo {
        width: 100px;
    }
    nav li {
        display: block;
        margin: 10px;
    }
    .hero {
        padding: 0 20px 10px 20px;
    }

    /* Zodiac - 1 kort på varje rad */
    .zodiac-section {
        padding: 30px 20px;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .information,
    .daily-horoscope {
        padding: 30px 20px;
    }
    .information-container,
    .daily-container {
        display: block;
    }
    .information-text,
    .daily-text {
        width: 100%;
    }
     /* Dölj bilder*/
    .information-image,
    .daily-image {
        display: none;
    }
    .about {
        padding: 30px 20px;
    }

    /* Kontaktsida */
    .contact-container {
        display: block;
        padding: 30px 20px;
    }
    .contact-info,
    .contact-form-container {
        width: 100%;
    }
    .form-group {
        display: block;
        margin: 20px 0;
    }
    .form-group label {
        display: block;
        width: 100%;
    }
    .form-group input,
    .form-group select,
    .form-group textarea {
        width: 100%;
    }
    /* Placera radioknappar bredvid texten*/
    .radio-opt {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .radio-opt input {
        width: auto;
    }
    .radio-opt label {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
    }
}