* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #080611;
    color: white;
}
h2{
    color: #e8c875;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #e8c875;
    color: #080611;
    width: 250px;
    border: 1px solid #e8c875;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
header {
    padding: 30px 50px;
    background-color: #100a20;
}
.logo{
    width: 150px;
}
/*logo till vänster och menu brevid*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li {
    display: inline-block;
    margin: 5px 10px;
}
nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 0 50px 10px 50px;
}
.hero-video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.hero-content {
    padding: 20px;
}
.hero-content h1 span {
    color: #e8c875;
}
.hero-description {
    color: #f2f2f2;
    font-size: 1.05rem;
}
.small-title {
    color:  #aaa4b5;
    font-size: 1rem;
}

.zodiac-section {
    padding: 30px 50px;
    text-align: center;
    background-color: #080611;
}
.section-intro {
    max-width: 650px;
    color: white;
    margin:auto;
    margin-bottom: 20px;
}
/* 4 kort på varje rad */
.container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    align-items: start;/*andra kort sträcks iinte när en kort öppnas*/
}
.zodiac-card {
    min-height: 150px;
    padding: 20px;
    background-color: #17102b;
    color: white;
    border: 1px solid #e8c875;
    border-radius: 10px;
    cursor: pointer;
}
/* Klickbar del */
.zodiac-card summary {
    list-style: none;
}
/* Symbol */
.zodiac-symbol {
    display: block;
    font-size: 36px;   
    margin-bottom: 10px;
}
/* Text som visas efter klick */
.sign-description {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #e8c875;
}

.information {
    padding: 50px;
    background-color: #100a20;
}
.information-container{
    display:flex;
    align-items: center;
    gap:30px;
}
.information-image,
.information-text {
    width: 48%; /*ger plats mellan bild och text*/
}
.information-image img {
    width: 100%;
    height:250px;
}

.daily-horoscope {
    padding: 50px;
    background-color: #080611;
}
.daily-container{
    display: flex;
    align-items: center;
    gap:30px;
}
.daily-text,
.daily-image {
    width: 48%;/*ger plats mellan bild och text*/
}
.daily-image img {
    width: 100%;
    height:250px;
}

.about {
    padding: 50px;
    text-align: center;
    background-color: #100a20;
}

/* FOOTER */
footer {
    padding: 30px;
    text-align: center;
    background-color: #040309;
    color: white;
}
.footer-logo {
    color: #e8c875;
}

/* KONTAKTSIDA */

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:30px;
    background-color: #080611;
    padding: 30px 50px;
}
.contact-info,
.contact-form-container { 
    width:45%;
}
.contact-info{
    text-align: left;
    /* border-radius: 10px;
    border: 1px solid #e8c875; */
    padding: 20px;
}
.contact-info h1 {
    margin-bottom: 15px;
}
.contact-info h1 span {
    color: #e8c875;
}
.contact-info p {
    color: #aaa4b5;
}
.contact-info strong{
    color: white;
}
.contact-info a{
    color: #aaa4b5;
}
.contact-text {
    padding: 20px;
}

.contact-form-container{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e8c875;
    background-color: #100a20;
}
.form-group {
    display:grid;
    grid-template-columns: 160px 250px;
    margin: 20px;
    justify-content: center;
    text-align: left;
}
.form-group label {
    display: inline-block;
    width:160px;
    margin-bottom: 5px;
    color: #e8c875;
}
.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border: 1px solid #e8c875;
    width: 250px;
}
.radio-opt{
    display:block;
    margin-bottom: 5px;
}
.radio-opt input{
    width: auto;
}
.radio-opt label{
    width:auto;
}


